<div class="m-2">
 <h5>Weighflow<small>TM</small> Remote Scale Interface Test Example</h5>
 
 <div class="m-3">
    <div>
    A quick way to test this:<br>
     - Open your existing SimpleScale software<br>
     - Click on Configuration
    </div>
     <div class="image">
        <img src="link_scale.png" width="500"/>
        <img src="entry.png" width="500"/>
     </div>

</div>

<hr>
Click here to Simulate a Weight click from Weighflow <small>TM</small>
<h1>
<a href="<%= to ('/?description=This is the customer reference information&postUrl=/&returnUrl=/')%>">Click here</a>
</h1>
</div>