
Steps:
<div class="bordered m-1 list-group">
<div class="list-group-item">
   Weighflow<small>TM</small> will redirect to this site. 
</div>
<div class="list-group-item">
    <small>Description of the Order in Reference</small><br>
    <%= description.split('|').join("<br>") %>
</div> 
<div class="list-group-item">
    <small>Create a standard html form, and post two values to the url that is passed in the local url.  (ScaleId and WeightLbs)</small><br>
    <%= weighflow_post_url %>
</div>
<div class="list-group-item">
    <small>A params for returning to Weighflow is provided, in case no weight needs to be selected.</small><br>
    <a href="<%= return_url %>">Return to : <%= return_url %></a>
</div>
 
</div>

 <form action="<%=weighflow_post_url%>" method="post">
                 
    <div class="bordered bg-light m-1 p-2">
        
        <small>Note: </small><br>
            The form fields can be completed hidden.  Using simple Javascript, the fields can be populated and submitted, given custom weight selection needed
       
        <input type="hidden" name="ScaleId" id="remoteScaleId" value="Tare" />
        <input name="weightLbs" type="text" class="m-3 form-control-lg" placeholder="Enter Weight"  />     
        <div class="m-2">
        <input type="submit" value="Store Weight" class="btn btn-lg btn-success"     />
        <a class="btn btn-secondary btn-lg"   data-wait="Returning to Application" href="<%= return_url %>">Cancel</a>
    </div>                           
    </div>              
    
</form>
